@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pokemon-bg: #9681bb;
    --pokemon-bg-dark: #564a6b;
    --pokemon-type-bug: #94bc4a;
    --pokemon-type-dark: #736c75;
    --pokemon-type-dragon: #6a7baf;
    --pokemon-type-electric: #e5c531;
    --pokemon-type-fairy: #e397d1;
    --pokemon-type-fighting: #cb5f48;
    --pokemon-type-fire: #ea7a3c;
    --pokemon-type-flying: #7da6de;
    --pokemon-type-ghost: #846ab6;
    --pokemon-type-grass: #71c558;
    --pokemon-type-ground: #cc9f4f;
    --pokemon-type-ice: #70cbd4;
    --pokemon-type-normal: #aab09f;
    --pokemon-type-poison: #b468b7;
    --pokemon-type-psychic: #e5709b;
    --pokemon-type-rock: #b2a061;
    --pokemon-type-steel: #89a1b0;
    --pokemon-type-water: #539ae2;

    --background: 262 100% 95%;
    --foreground: 262 5% 10%;
    --card: 262 50% 90%;
    --card-foreground: 262 5% 15%;
    --popover: 262 100% 95%;
    --popover-foreground: 262 100% 10%;
    --primary: 262 58% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 30% 85%;
    --muted-foreground: 262 5% 35%;
    --accent: 224 30% 80%;
    --accent-foreground: 262 5% 15%;
    --destructive: 0 100% 35%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 50%;
    --input: 262 30% 35%;
    --ring: 262 58% 33%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 262 50% 10%;
    --foreground: 262 5% 90%;
    --card: 262 50% 10%;
    --card-foreground: 262 5% 90%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 58% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 25%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 30% 25%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 100% 35%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 35%;
    --input: 262 30% 35%;
    --ring: 262 58% 33%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
